/* Стили заставки */
#splash-screen {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    z-index: 999999999;
    transition: opacity 0.5s ease, visibility 0.7s ease;
    background-color: var(--block-bg);
}
.loaded_block {
    width: 1100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.animation_logotip {
    width: 100%;
    flex: 1 1 220px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.loaded_bottom_block {
    width: 100%;
}
.load_line {
    height: 30px;
    margin: 10px;
    border: 1px solid var(--color);
}
.load_level {
    gap: 5px;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.loaded_copyright_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.level_up {
    display: flex; 
    flex-wrap: wrap;
    flex: 1 1 220px;
    margin: 20px 10px 10px 10px;
    gap: 10px;
}

.loader {
    --n:10;
    --s:100px;
    --g:5px;
    width:calc(var(--n)*(var(--s) + var(--g)) - var(--g));
    height: 20px;
    border: 1px solid var(--color);
    background:
        repeating-linear-gradient(90deg,
        currentColor  0 var(--s),
        #0000 0 calc(var(--s) + var(--g))
        ) left / calc((var(--n) + 1)*(var(--s) + var(--g))) 100% 
        no-repeat content-box;
    animation: load 3s steps(calc(var(--n) + 1)) infinite;
}
@keyframes load {
    0% {background-size: 0% 100%}
}
.loader_column {
    display: flex;
    flex: 1 1 20px;
    background: var(--color);
}
.logo {
    width: 100px;
    height: 100px;
    background: var(--img-logo);
    border-radius: 50%;
    position: relative;
    display: flex;
    animation: pulse 0.5s infinite alternate;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#copyright {
    font-size: 0.8em;
    bottom: 20px;
    max-width: 350px;
    margin: 20px;
}

/* Стили содержимого страницы */
#content {
    padding: 20px;
    display: none; /* Скрыто до исчезновения заставки */
}

.wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;
    border: 10px solid rgba(255, 255, 255, 0.075);
    border-radius: 50%;
    animation: pulse2 2s linear infinite;
    opacity: 0;
}

.wave:nth-child(1) {
    animation-delay: 0s;
}

.wave:nth-child(2) {
    animation-delay: 1s;
}

.wave:nth-child(3) {
    animation-delay: 2s;
}

.wave:nth-child(4) {
    animation-delay: 3s;
}
.wave:nth-child(5) {
    animation-delay: 4s;
}
.loader_column {
    animation: loaded 2s linear infinite;
    opacity: 0;
}
.loader_column:nth-child(1) {
    animation-delay: 0.2s;
}
.loader_column:nth-child(2) {
    animation-delay: 0.5s;
}
.loader_column:nth-child(3) {
    animation-delay: 0.8s;
}
.loader_column:nth-child(4) {
    animation-delay: 1.1s;
}
.loader_column:nth-child(5) {
    animation-delay: 1.4s;
}
.loader_column:nth-child(6) {
    animation-delay: 1.7s;
}
.loader_column:nth-child(7) {
    animation-delay: 2s;
}
.loader_column:nth-child(8) {
    animation-delay: 2.3s;
}

.animated-text {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1 1 50px;
    /* height: auto; */
    /* margin: 0 20px 20px 20px; */
    height: 30px;
    margin: 0 10px 10px 10px;
    color: var(--color);
    animation: loaded2 2s linear infinite;
    opacity: 0;
    /* background: green; */
}
.animated-text:nth-child(1) {
    animation-delay: 0.2s;
}
.animated-text:nth-child(2) {
    animation-delay: 0.5s;
}
.animated-text:nth-child(3) {
    animation-delay: 0.8s;
}
.animated-text:nth-child(4) {
    animation-delay: 1.2s;
}
.animated-text:nth-child(5) {
    animation-delay: 1.5s;
}
.animated-text:nth-child(6) {
    animation-delay: 1.8s;
}
.animated-text:nth-child(7) {
    animation-delay: 2.1s;
}
.animated-text:nth-child(8) {
    animation-delay: 2.4s;
}
.animated-text:nth-child(9) {
    animation-delay: 2.7s;
}
@keyframes changeText {
    /* 0% { content: "Шаг 1"; }
    10% { content: "Шаг 2"; }
    20% { content: "Шаг 3"; }
    30% { content: "Шаг 4"; }
    40% { content: "Шаг 5"; }
    50% { content: "Шаг 5"; }
    60% { content: "Шаг 6"; }
    70% { content: "Шаг 7"; }
    100% { content: "Шаг 8"; } */
}

.animated-text::before {
    /* content: "Шаг 1"; */
    animation: changeText 3s steps(1, end) forwards;
}
@keyframes loaded {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loaded2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes pulse2 {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}
/* Анимация пульсации логотипа */
@keyframes pulse {
    0% {
        transform: scale(1);
        transform: translate(1);
    }
    100% {
        transform: scale(1.1);
        transform: translate(5);
    }
}


/* Стили боковой панели */
.noise::before {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5; /*0.45*/
    z-index: 9999;
    pointer-events: none;
}
aside {
    /* z-index: 99999; */
    position: relative;
    width: 250px;
    /* width: 100%; */
    transition: 1s;
    opacity: 1;
}
aside.open {
    left: 0;
}
main {
    margin-top: 20px;
    transition: 1s;
    opacity: 1;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 220px;
}
.aside_main_footer {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    margin: 0 20px 0px 20px;
    border-radius: 10px;
    gap: 20px;
}
.main_block {
    width: 100%;
}
main.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.aside_block {
    z-index: 20;
    width: 250px;
    /* width: 100%; */
    position: fixed;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    top: 20px;
    margin-top: 80px;
    bottom: 20px;
    transition: 0.3s;
    background: var(--block-bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.2);

    /* box-shadow: inset 0 11px 8px -10px rgb(0, 0, 0, 0.2), inset 0 -11px 8px -10px rgb(0, 0, 0, 0.2); */
}
.aside_block.scrolled {
    margin-top: 0;
}
#img-1, #img-2, #img-3, #img-4, #img-5, #mrt {
    transition: 0.2s;
}
#a-link1:hover #img-1 {
    transform: scale(1.4);
}
#a-link2:hover #img-2 {
    transform: scale(1.4);
}
#a-link3:hover #img-3 {
    transform: scale(1.4);
}
#a-link4:hover #img-4 {
    transform: scale(1.4);
}
#a-link5:hover #img-5 {
    transform: scale(1.4);
}
.laptop {
    position: relative;
    display: flex;
    width: 250px;
    height: 100%;
}
.bottom {
    height: auto;
}
.aside_sector_contect2 {
    padding: 20px;
    background: var(--block-bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    height: 60px;
}
.aside_sector_contect {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--border);
    transition: 0.2s;
}
.aside_sector_contect:hover {
    background: var(--hover-bg);
}
.aside_left {
    height: 60px;
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border);
}
.aside_right {
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.aside_heading {
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--border);
    gap: 5px;
    padding: 20px;
    width: 100%;
}
.link_about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 37px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background: var(--block-bg);
}
.a_fio_sector {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1 1 100px;
}
.a_more_sector {
    width: 32px;
    height: 100%;
    border-left: 1px solid var(--border);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.aside_links {
    width: 100%;
    height: 300px;
    overflow: auto;
    display: flex;
    flex: 1 1 220px;
    flex-wrap: wrap;
}
.height_fix {
    width: 100%;
}
.volna {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

/*Мобильное боковое меню*/
/*______________________________________________________________________________________________*/
.mobile_panel {
    position: fixed;
    left: 0;
    top: 100px;
    width: 40px;
    height: 50px;
    background: var(--block-bg);
    border: 1px solid var(--border);
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.2);
    border-radius: 0 10px 10px 0;
    z-index: 20;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: left 0.3s ease-in-out;
}
.modal_aside {
    width: 100%;
    height: 100%;
    padding: 10px 10px 0 10px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;

    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);

    transition: opacity 0.5s ease, visibility 0.5s ease; /* Упрощаем и делаем согласованным */
    opacity: 0;

    pointer-events: none;
    visibility: hidden;
}
.modal_aside.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal_content_aside {
    width: 280px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    bottom: 10px;
    background-color: var(--block-bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    overflow: auto;

    transition: transform 0.5s ease, opacity 0.5s ease; /* Плавный переход для transform и opacity */
    left: 0;

    opacity: 0;
    transform: translateX(-100%); /*  Начальное положение вне экрана */
}
.modal_content_aside.show {
    opacity: 1;
    transform: translateX(0); /* Конечное положение - на экране */
}






.avatarka {
    z-index: 2;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background: var(--body-bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.aside_end {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    padding: 20px;
    border-top: 1px solid var(--border);
    border-radius: 0 0 10px 10px;
}
.text-aside-end {
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.colorF {
    color: black;
    background: white;
    font-weight: 700;
    padding: 0 10px;
}
.textp {
    margin-top: 5px;
    color: rgb(215, 215, 215);
}
.list-style {
    list-style: inside;
    font-size: 15px;
    list-style-type: square;
}
.textp-top {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 15px;
}
.textp-top:hover .textp{
    color: #e1e1e1;
}
.news-link {
    margin-top: 10px; 
    font-size: 15px;
}
#modal2 {
    display: none;
}
@media (max-width: 1080px) {
    .mobile_panel {
        z-index: 30;
        display: flex;
        display: none;
    }
    .aside_block {
        border-radius: 10px;
        bottom: 10px;
        gap: 10px;
    }
    .modal_aside {
        padding: 10px 10px 0 10px;
    }
    .modal_content_aside {
        width: 100%;
        margin: 80px 0 10px 0;
    }
}
@media (max-width: 950px) {
    #modal2 {
        display: flex;
    }
    .modal_aside {
        display: flex;
    }
    .modal_content_aside {
        margin: 60px 0 10px 0;
    }
    .mobile_panel {
        top: 70px;
        z-index: 30;
        display: flex;
    }
    main {
        margin-top: 0;
        width: 100%;
        flex: none;
        gap: 10px;
    }
    .aside_main_footer {
        gap: 10px;
        margin: 0 10px 0 10px;
    }
    .aside_block {
        display: none;
    }
}
@media (max-width: 850px) {
    .aside_block {
        margin-top: 70px;
    }
    main {
        margin-top: 0;
        gap: 10px;
    }
    .aside_main_footer {
        margin: 0 10px 0 10px;
        gap: 10px;
    }
    .aside_sector_contect2 {
        height: 50px;
    }
    
    .aside_sector_contect2 {
        height: 50px;
    }
}
@media (max-width: 580px) {
    .modal_content_aside {
        width: 280px;
    }
}