.footer_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: var(--block-bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.2);
}
.f-link {
    color: inherit;
    border-bottom: 1px solid var(--border);
    padding: 10px 0;
    transition: 0.2s;

    white-space: nowrap; /* Запрещаем перенос строки */
    overflow: hidden;      /* Скрываем выходящий текст */
    text-overflow: ellipsis; /* Добавляем многоточие */
    display: block;         /* Важно: делаем элемент блочным */
}
.f-link:hover{
    border-radius: 5px;
    background: var(--hover-bg);
    padding-left: 20px;
}
.f_top_block {
    gap: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--border);
}
.f_center_block {
    padding: 30px 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.f_bottom_block {
    width: 100%;
    padding: 15px 30px;
    border-top: 1px solid var(--border);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.f_column_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 150px;
}
.f_column2_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 220px;
}
.pop8 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    border: 2px dashed var(--border);
    border-bottom: none;
    height: 32px;
    align-items: center;
    justify-content: center;
}
.ppzzqq {
    border: 2px dashed var(--border);
    border-right: none;
    display: flex;
    width: 100%;
}
.bl1 {
    flex: 1 1 100px;
    border-right: 2px dashed var(--border);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 0px;
}
.bl11 {
    padding: 0px;
    border-bottom: 2px dashed var(--border);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.bl12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 950px) {
    .footer_block {
        margin-bottom: 10px;
    }
}