h1 {
  color: var(--color);
}
p {
  color: var(--color2);
}
.text-bright {
  color: var(--color);
}
.text-top10 {
  margin-top: 10px;
}
.text-top5 {
  margin-top: 5px;
}
.green {
  color: rgb(0, 196, 0);
}
.red {
  color: orange;
}
.orange {
  color: orange;
}
.p11 {
  font-size: 11px;
  padding: 5px;
  text-align: center;
}
.link {
  color: var(--link);
}
.p-text-ed {
  font-size: 14px;
}
.h1-text {
  color: #d7d7d7;
  padding-left: 30px;
  font-size: 17px;
}
.h2-1 {
  color: var(--color);
  padding-top: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.h2-19 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.h2-3 {
  color: var(--color);
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}
.h2-4 {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}
.h2-5 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.h2-3-footer {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--border);
  padding-bottom: 10px;
}
.h2-2 {
  color: var(--color);
  padding-top: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.h1-2-text {
  color: var(--color2);
  font-size: 14px;
}
.text-h2p {
  color: #e2e8f0;
  width: 100%;
  font-size: 16px;
}
.text-pp {
  font-size: 14px;
  color: #94a3b8;
  line-height: 1.4rem;
}
.color-purple {
  font-size: 14px;
  color: rgb(75, 195, 75);
}
.date {
  width: 100px;
  color: var(--color2);
  font-size: 12px;
}
@media (max-width: 1080px) {
.text-h1 {
    font-size: 7vw;
  }
  .text-h2 {
    font-size: 7vw;
  }
  .text-p {
    width: 100%;
  }
  .date {
    width: 100%;
    margin-bottom: 10px;
  }
}