h1 {
  color: var(--color);
}
p {
  color: var(--color2);
}
.text-bright {
  color: var(--color);
}
.text-top10 {
  margin-top: 10px;
}
.text-top5 {
  margin-top: 5px;
}
.green {
  color: rgb(0, 196, 0);
}
.red {
  color: orange;
}
.orange {
  color: orange;
}
.p11 {
  font-size: 11px;
  padding: 5px;
  text-align: center;
}