.switcher {
    width: 100%;
    display: flex;
    margin: 20px 0 32px 0;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background: var(--block-bg);
}

.switcher-option {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    color: #5c5c5c;
    align-items: center;
    justify-content: center;
}

.switcher input[type="radio"]:checked + .switcher-option,
.switcher-option:has(input[type="radio"]:checked) {
    background-color: #007bff;
    color: white;
}
.switcher input[type=radio] {
    display: none;
}
.switcher label {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.switcher label:hover {
    background-color: var(--hover-bg);
}

/* Стили для контента */
.content {
    margin-top: 20px;
}

.content-block {
    display: none; /* Скрываем все блоки контента */
    border-radius: 5px;
}

.content-block.active {
    display: block; /* Показываем активный блок */
}

/* Дополнительные стили для контента (пример) */
.content-block h3 {
    margin-bottom: 10px;
}

.email-content input[type="email"],
.email-content input[type="tel"],
.email-content textarea,
.email-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.email-content button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.content-block button:hover {
    background-color: #3e8e41;
}

/* Адаптивность */
@media (max-width: 480px) {
    .switcher-option {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}