.loaded_categores {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: var(--block-bg);
    border: 1px solid var(--border);
    padding-bottom: 30px;
    border-radius: 10px;
}
.load_category {
    padding: 20px 30px;
    display: flex;
    flex: 1 1 220px;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
.dfp {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.security_update {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: var(--block-bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.2);
    padding-bottom: 20px;
}
.security_card {
    width: 100%;
    margin: 0 20px 0 20px;
}
.card_proper{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
    border: 1px solid var(--border);
    background: var(--dark-bg);
    border-radius: 10px;
    gap: 20px;
}
.security_banner {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #57C785;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    background: #57C785;
    background: linear-gradient(90deg,rgb(65, 143, 97) 0%, rgba(68, 158, 117, 1) 50%, rgba(57, 135, 108, 1) 73%);
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.2);
}
@media (max-width: 950px) {
    .dfp {
        gap: 10px;
    }
}