@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.ed_heading_block {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  background: var(--block-bg);
}
.ed_heading_content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 30px;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.h1-heading-ed {
  padding: 0 30px;
  font-weight: 600;
  font-size: 20px;
}
.h2-heading-ed {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.ed_top_block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.ed_bottom_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ed_sector_block {
  padding: 30px 30px 20px 30px;
  display: flex;
  flex: 1 1 220px;
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
.ed--icon {
  padding: 5px;
  border-radius: 5px;
  background: rgb(71, 71, 71);
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.heading_block {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  background: var(--block-bg);
}
.sections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#ed_structure1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  gap: 15px;
}
#ed_structure1, #ed_structure2, #ed_structure3 {
  border-top: 1px solid var(--border);
}
.ed_structure_link {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 220px;
  align-items: center;
  text-align: center;
  transition: 0.2s;
}
.ed_structure_link:hover {
  background: var(--hover-bg);
}
.ed_structure_link:hover .img_ed {
  margin-left: 10px;
}
.ed_project_card {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 30px;
}
.ed_list_tecnology {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  height: auto;
  padding: 20px 30px;
}
.ed_tecnology {
  width: auto;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid rgb(115, 0, 255);
  background: rgba(0, 0, 255, 0.212);
  color: blue;
}
#sections1, #sections2 {
  width: 100%;
}
.sector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.img_sliders {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}
.mySlides {display: none;}
img {vertical-align: middle;}
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 8px 8px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.4);
}
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
.prev:hover, .next:hover {
  color: white;
  background-color: rgba(0,0,0,0.8);
}
.dot {
  flex: 1 1 20px;
  cursor: pointer;
  background-color: #3b3b3b;
  border-radius: 10px;
  transition: background-color 0.6s ease;
}
#fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.ed_top_block2 {
  margin-top: 20px;

}
.modal_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px 10px 10px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  flex-direction: column;
  visibility: hidden;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.7s ease;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal_block.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal_content {
  flex-direction: column;
  width: 100%;
  max-width: 660px;
  max-height: 600px;
  height: calc(100% - 60px);
  margin: 100px 0 0 0;
  padding: 0 20px 20px 20px;
  display: flex;
  background-color: var(--block-bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  overflow: auto;
}
#open_modal1, #open_modal2, #open_modal3 {
  background: none;
  /* border-radius: none; */
  padding: 0 30px;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  gap: 15px;
  cursor: pointer;
  align-items: center;
}
.img_ed {
  transition: 0.2s;
}
.p-text-ed:hover .img_ed {
  margin-left: 10px;
}
.close {
  position: absolute;
  cursor: pointer;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  right: 20px;
}
.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
#open_modal1:hover .ccs {
  margin-left: 10px;
}
#open_modal2:hover .ccs {
  margin-left: 10px;
}
#open_modal3:hover .ccs {
  margin-left: 10px;
}
button #open_modal1:hover {
  border-radius: 0 0 0 10px;
  background: var(--hover-bg);
}
button #open_modal2:hover {
  border-radius: 0 0 0 10px;
  background: var(--hover-bg);
}
@media (max-width: 1190px) {
  #sections1, #sections2 {
    width: 100%;
  }
  #section_block2 {
    border-right: none;
  }
}
@media (max-width: 1000px) {
  #ed_sector_block3 {
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--border);
  }
}
@media (max-width: 980px) {
  #text-center {
    text-align: center;
  }
  .modal_content {
    margin-top: 70px;
  }
  .border-bottom {
    border-bottom: 1px solid var(--border);
  }
}
@media (max-width: 460px) {
  #section_block1, #section_block2, #section_block3, #section_block4 {
    border-right: none;
  }
  #ed_sector_block1, #ed_sector_block2 {
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--border);
  }
}