.question_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  border: 1px solid var(--border);
  background: var(--block-bg);
  border-radius: 10px;
  padding: 0 0 40px;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.2);
}
.fg {
  height: 40%;
  width: 60px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid var(--border);
}
.question_block2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
}
.toggler {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border);
  z-index: 1;
}
.toggler__label {
  width: 100%;
  background: var(--block-bg);
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s;
}
.toggler__label:hover {
  background: var(--hover-bg);
}
.toggler__label::selection {
  color: none;
  background: none;
}
/* #lab-t {
  border-radius: 10px 10px 0 0;
} */
.toggler__content-box  {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--border);
  background: var(--dark-bg);
  box-shadow: inset 0px 11px 8px -10px rgb(0, 0, 0, 0.2);
  padding: 20px 30px;
  display: none;
  position: absolute;
  opacity: 0;
  color: var(--color);
  font-size: 14px;
  z-index: -1;
}
.toggler__checkbox {
  display: none;
}
.toggler__checkbox:checked ~ .toggler__content-box {
  display: block;
  display: block;
  position: relative;
  opacity: 1;
}
.toggler__label:checked ~ .icon85 {
  display: block;
  position: relative;
  opacity: 1;
}
.quest_block {
  width: 1080px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.edu_title {
    width: 100%;
    border-bottom: 1px solid var(--border);
    padding: 10px 20px;
}
.icon85 {
  width: 10px;
  height: auto;
}